<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.sample.SampleMapper">


	<select id="selectList"
		parameterType="com.entity.sample.T_workHourBean"
		resultType="com.entity.sample.T_workHourBean">
		SELECT
			employeeId,
			workMonth,
			workDay,
			startTime,
			endTime,
			workHous,
			status,
			registrationDate,
			updateDate
		FROM t_workHour
		<where>
			<if test="employeeId != null">
				employeeId = #{employeeId}
			</if>
			<if test="workMonth != null">
				workMonth = #{workMonth}
			</if>
		</where>
	</select>
	<insert id="insertRecords" parameterType="java.util.List">
	    insert into t_workhour
	    (   
			employeeId,
			workMonth,
			workDay,
			startTime,
			endTime,
			workHous,
			status,
			registrationDate,
			updateDate
	    )
	    values
	    <foreach collection="list" item="item" index= "index" separator =",">
	    (
			#{item.employeeId},
			#{item.workMonth},
			#{item.workDay},
			#{item.startTime},
			#{item.endTime},
			#{item.workHous},
			#{item.status},
			#{item.registrationDate},
			#{item.updateDate}
	    )
	    </foreach>
	
	</insert>
</mapper>