<html xmlns:th="http://www.thymeleaf.org">
<h2 class="leftH2">
	<span class="span1"></span>メニュー <span></span>
</h2>
<nav>
	<ul class="list">
		<li><a onclick="transitionTo('/employee/employeelist');">社員</a></li>
		<li><a href="billList.html"> 会社</a></li>
		<li><a href="providerList.html">入場</a></li>
		<li><a href="userList.html">契約</a></li>
		<li><a href="password.html">請求書</a></li>
		<li><a href="login.html">注文書</a></li>
		<li><a href="login.html">勤怠</a></li>
		<li><a onclick="transitionTo('/sample/sampleexecute');">サンプル</a></li>
	</ul>
</nav>
</html>